<div class="row navbar-fixed-bottom">
	<div class="btn-group dropup col-xs-4">
		<button data-toggle="dropdown"
			class="btn btn-block   dropdown-toggle ">
			公司信息 <i class="ace-icon fa fa-angle-up icon-on-right"></i>

		</button>

		<ul class="dropdown-menu dropdown-danger">
			<li><a href="../cominfo/comintr.html">公司简介</a></li>
			<li class="divider"></li>
			<li><a href="../cominfo/comcult.html">企业文化</a></li>
			<li class="divider"></li>
			<li><a href="../cominfo/comenvir.html">公司环境</a></li>
			<li class="divider"></li>
			<li><a href="../cominfo/combat.html">业务技术</a></li>

		</ul>
		<!-- /.btn-group -->
	</div>
	<div class="btn-group dropup col-xs-4">
		<button data-toggle="dropdown" class="btn btn-block dropdown-toggle">
			招聘信息 <i class="ace-icon fa fa-angle-up icon-on-right"></i>

		</button>

		<ul class="dropdown-menu dropdown-danger">
			

			<li><a href="../jobinfo/screenings.html">校园招聘</a></li>

			<li class="divider"></li>

			<li><a href="../jobinfo/society/position.html">社会招聘</a></li>
		</ul>
	</div>
	<div class="btn-group dropup col-xs-4">
		<button data-toggle="dropdown" class="btn btn-block  dropdown-toggle">
			我要应聘 <i class="ace-icon fa fa-angle-up icon-on-right"></i>

		</button>

		<ul class="dropdown-menu dropdown-danger">
		
			<li><a href="../resume/micro-resume.html">微简历</a></li>

			<li class="divider"></li>

			<li><a href="../jobinfo/apply-record.html">应聘记录</a></li>
		</ul>
	</div>
</div>