<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<title>工作环境</title>
<link rel="stylesheet"
	href="${request.getContextPath()}/resources/assets/css/bootstrap.min.css">

<link rel="stylesheet"
	href="${request.getContextPath()}/resources/assets/css/ace-fonts.css" />
<link rel="stylesheet"
	href="${request.getContextPath()}/resources/assets/css/ace.min.css"
	id="main-ace-style" />
<link rel="stylesheet"
	href="${request.getContextPath()}/resources/assets/css/ace-skins.min.css" />
<link rel="stylesheet"
	href="${request.getContextPath()}/resources/assets/css/ace-rtl.min.css" />

<link rel="stylesheet"
	href="${request.getContextPath()}/resources/assets/css/font-awesome.min.css">

<script
	src="${request.getContextPath()}/resources/assets/js/jquery.min.js"></script>
<script
	src="${request.getContextPath()}/resources/assets/js/bootstrap.min.js"></script>

<style>
#head {
	background-color: #6FB3E0;
}
</style>
</head>
<body style="background-color: #F2F5F5">

	<div class="container" id="head">
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"
			style="background-color: #0092ef;">
			<div class="navbar-header" align="center">
				<div class="col-xs-3">
					<p style="margin-top: 13px;">
						<a href="comintr.html"><strong>公司简介</strong></a>
					</p>
				</div>
				<div class="col-xs-3">
					<p style="margin-top: 13px;">
						<a href="comcult.html"><strong>企业文化</strong></a>
					</p>
				</div>
				<div class="col-xs-3">
					<p style="margin-top: 13px;">
						<strong>工作环境</strong>
					</p>
				</div>
				<div class="col-xs-3">
					<p style="margin-top: 13px; margin-left: 0px;">
						<a href="combat.html"><strong>业务技术</strong></a>
					</p>
				</div>
			</div>
		</nav>
	</div>
	<br>
	<br>
	<br>

	<div class="container-fluid" id="XS">
		<div class="row-fluid">
			<div class="row" style="text-indent: 2em">
				<p>
					<strong> 人文环境 </strong>
				</p>
				<div style="text-indent: 2em">
					中冶赛迪致力于打造职业化的专业技术、项目管理、经营管理三支队伍建设。
					在北京、上海、西安、成都、香港、巴西等地建立了子公司，在全国乃至全球配置人才资源。</div>
				<div style="text-indent: 2em">
					中冶赛迪黄花园办公区坐落在重庆市渝中区中心地带，办公区占地2.28万m2，
					建筑面积4.15万m2，绿化率达46.2%。中冶赛迪职能部门及部分子公司在此办公。</div>
				<div style="text-indent: 2em">
					中冶赛迪大厦坐落于重庆市北部新区经开园金山片区金山广场旁，占地15亩，总建筑面积6.4万m2
					，是北部新区环保节能标志型建筑，也是西部唯一获得“2009中国建筑节能减排十大绿色楼盘”称号的项目。
					主要为生产部门人员办公场所。大厦附近交通便利，信息畅通，环境宜人，是工作、学习的理想之地。</div>
				<div style="text-indent: 2em">
					中冶赛迪研发中心位于重庆市北部新区经开园尖山立交附近，总占地面积约38亩，总建筑面积约3.6万m2，
					被列入住房与城乡建设部低能耗建筑“双百示范工程”。为研发人员办公场所。
					中心配备具有国际先进水平的网络化、系统化、集成化的装备以及自动化集成测试、分析和培训系统，
					同时，还建有标准化的单身公寓以及达到国家训练场标准的羽毛球馆，办公及生活配套设施齐全。</div>
			</div>
			<br>

			<div class="row" style="text-indent: 2em">
				<p>
					<strong> 工作大楼 </strong>
				</p>
				<div id="myCarousel" class="carousel slide" data-ride="carousel"
					data-interval="3000">
					<!-- 轮播（Carousel）指标 -->
					<ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1"></li>
						<li data-target="#myCarousel" data-slide-to="2"></li>
					</ol>
					<!-- 轮播（Carousel）项目 -->
					<div class="carousel-inner" style="text-align: center">
						<div class="item active">
							<img src="${request.getContextPath()}/resources/images/job.png"
								alt="First slide">
							<div class="carousel-caption">中冶赛迪黄花园办公区行政办公大楼</div>
						</div>
						<div class="item">
							<img src="${request.getContextPath()}/resources/images/job1.png"
								alt="Second slide">
							<div class="carousel-caption">赛迪大厦</div>
						</div>
						<div class="item">
							<img src="${request.getContextPath()}/resources/images/job2.png"
								alt="Third slide">
							<div class="carousel-caption">赛迪研发中心</div>
						</div>
					</div>
					<a class="left carousel-control" href="#myCarousel"
						data-slide="prev"> <span
						class="glyphicon glyphicon-chevron-left"></span>
					</a> <a class="right carousel-control" href="#myCarousel"
						data-slide="next"> <span
						class="glyphicon glyphicon-chevron-right"></span>
					</a>
				</div>
			</div>
			<br>
			
			<div class="row" style="text-indent: 2em">
				<p>
					<strong> 办公环境 </strong>
				</p>
				<div id="myCarousel1" class="carousel slide" data-ride="carousel"
					data-interval="3000">
					<!-- 轮播（Carousel）指标 -->
					<ol class="carousel-indicators">
						<li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel1" data-slide-to="1"></li>
						<li data-target="#myCarousel1" data-slide-to="2"></li>
					</ol>
					<!-- 轮播（Carousel）项目 -->
					<div class="carousel-inner" style="text-align: center">
						<div class="item active">
							<img src="${request.getContextPath()}/resources/images/job1.jpg"
								alt="First slide">
							<div class="carousel-caption">办公室</div>
						</div>
						<div class="item">
							<img src="${request.getContextPath()}/resources/images/job2.jpg"
								alt="Second slide">
							<div class="carousel-caption">报告厅</div>
						</div>
						<div class="item">
							<img src="${request.getContextPath()}/resources/images/job3.jpg"
								alt="Third slide">
							<div class="carousel-caption">会议室</div>
						</div>
					</div>
					<a class="left carousel-control" href="#myCarousel1"
						data-slide="prev"> <span
						class="glyphicon glyphicon-chevron-left"></span>
					</a> <a class="right carousel-control" href="#myCarousel1"
						data-slide="next"> <span
						class="glyphicon glyphicon-chevron-right"></span>
					</a>
				</div>
			</div>
			<br>
			
			<div class="row" style="text-indent: 2em">
				<p>
					<strong> 生活环境 </strong>
				</p>
				<div id="myCarousel2" class="carousel slide" data-ride="carousel"
					data-interval="3000">
					<!-- 轮播（Carousel）指标 -->
					<ol class="carousel-indicators">
						<li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel2" data-slide-to="1"></li>
						<li data-target="#myCarousel2" data-slide-to="2"></li>
						<li data-target="#myCarousel2" data-slide-to="3"></li>
						<li data-target="#myCarousel2" data-slide-to="4"></li>
					</ol>
					<!-- 轮播（Carousel）项目 -->
					<div class="carousel-inner" style="text-align: center">
						<div class="item active">
							<img src="${request.getContextPath()}/resources/images/life4.jpg"
								alt="First slide">
							<div class="carousel-caption">羽毛球馆</div>
						</div>
						<div class="item">
							<img src="${request.getContextPath()}/resources/images/life3.jpg"
								alt="Second slide">
							<div class="carousel-caption">恒温游泳池</div>
						</div>
						<div class="item">
							<img src="${request.getContextPath()}/resources/images/life2.jpg"
								alt="Third slide">
							<div class="carousel-caption">健身房</div>
						</div>
						<div class="item">
							<img src="${request.getContextPath()}/resources/images/life1.jpg"
								alt="Third slide">
							<div class="carousel-caption">新员工公寓</div>
						</div>
						<div class="item">
							<img src="${request.getContextPath()}/resources/images/life0.jpg"
								alt="Third slide">
							<div class="carousel-caption">员工餐厅</div>
						</div>
					</div>
					<a class="left carousel-control" href="#myCarousel2"
						data-slide="prev"> <span
						class="glyphicon glyphicon-chevron-left"></span>
					</a> <a class="right carousel-control" href="#myCarousel2"
						data-slide="next"> <span
						class="glyphicon glyphicon-chevron-right"></span>
					</a>
				</div>
			</div>
					
		</div>
	</div>
</body>
</html>

