<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<title>公司简介</title>
<link rel="stylesheet"
	href="${request.getContextPath()}/resources/assets/css/bootstrap.min.css">

<link rel="stylesheet"
	href="${request.getContextPath()}/resources/assets/css/ace-fonts.css" />
<link rel="stylesheet"
	href="${request.getContextPath()}/resources/assets/css/ace.min.css"
	id="main-ace-style" />
<link rel="stylesheet"
	href="${request.getContextPath()}/resources/assets/css/ace-skins.min.css" />
<link rel="stylesheet"
	href="${request.getContextPath()}/resources/assets/css/ace-rtl.min.css" />
<link rel="stylesheet"
	href="${request.getContextPath()}/resources/assets/css/font-awesome.min.css">
<style>
#head {
	background-color: #6FB3E0;
}
</style>
</head>
<body style="background-color:#F2F5F5"> 

	<div class="container" id="head">
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"
			style="background-color: #0092ef;">
			<div class="navbar-header" align="center">
				<div class="col-xs-3">
					<p style="margin-top: 13px;">
						<strong>公司简介</strong>
					</p>
				</div>
				<div class="col-xs-3">
					<p style="margin-top: 13px;">
							<strong><a href="comcult.html">企业文化</a></strong>
						</p>
				</div>
				<div class="col-xs-3">
					<p style="margin-top: 13px;">
						<a href="comenvir.html"><strong>工作环境</strong></a>
					</p>
				</div>
				<div class="col-xs-3">
					<p style="margin-top: 13px;">
							<strong><a href="combat.html">业务技术</a></strong>
						</p>
				</div>
			</div>
		</nav>
	</div>
	<br><br><br>

	<div class="container-fluid" id="XS">
		<div class="row-fluid">
			<div class="carousel-inner">
				<div class="item active">
					<img
						src="${request.getContextPath()}/resources/assets/img/intr1.jpg" />
				</div>
			</div>
			<br>
			<div class="row" style="text-indent: 2em">
				<p>
					<strong> 公司简介 </strong>
				</p>
				<div style="text-indent: 2em">
					中冶赛迪集团有限公司是世界500强企业——中国冶金科工集团的子公司，
					是集应用技术研发、经济技术咨询、规划设计、工程总承包、成套装备、工程监理、技术服务于一体的工程技术服务集团。</div>
				<div style="text-indent: 2em">
					中冶赛迪集团有50余年的历史，其前身重庆钢铁设计研究院是国家钢铁工业综合性设计研究骨干单位，是中国钢铁工程建设的开拓者。
					50余年来，中冶赛迪集团为国内外数百家客户提供了上千项优质的工程技术服务，并率先将钢铁工程技术输出国门，
					是中冶集团打造世界领先冶金建设运营服务“国家队”的“领跑者”和“排头兵”，为国民经济的快速发展和中国钢铁工程技术走向世界做出了重要贡献。</div>
				<div style="text-indent: 2em">
					中冶赛迪集团坚持走多元化经营和专业化发展相结合的道路，以钢铁工程为主业，
					将丰富的工程技术经验延伸至绿色建筑、轨道交通、信息化、电气及自动化、环保、房地产等领域，
					形成国内钢铁、海外业务、新业务协调发展的经营格局， 并通过系统集成和优化资源配置，不断提高为客户提供系统化解决方案的能力。</div>
				<div style="text-indent: 2em">
					中冶赛迪集团高度重视改革创新、技术研发与人才培养，具有行业领先的综合实力和市场竞争力。
					近年来，主编国内外标准和行业标准20余项；获国家、省部级以上优秀工程奖励300余项； 获国家、省部级以上科技成果奖励200余项，
					其中国家技术发明一等奖1项，国家科技进步一等奖4项；获国家专利授权1000余件。</div>
				<div style="text-indent: 2em">
					秉承“以劳动尤其是智力劳动创造价值”的核心价值观，中冶赛迪集团致力于打造客户首选、国际一流的工程技术集团，
					成为受人尊敬的学习型、开放型、创新型企业。 在开放的视野与全球竞争格局中，竭诚与客户、合作伙伴携手共赢。</div>
			</div>
			<br>
			<div class="row">
				<p>
					<strong> 子公司分布 </strong>
				</p>
				<table border="1">
					<tr>
						<td class="col-xs-6">中冶赛迪集团有限公司</td>
						<td class="col-xs-6">中冶赛迪工程技术股份有限公司</td>
					</tr>
					<tr>
						<td class="col-xs-6">中冶赛迪上海工程技术有限公司</td>
						<td class="col-xs-6">中冶赛迪建筑市政设计有限公司</td>
					</tr>
					<tr>
						<td class="col-xs-6">重庆赛迪重工设备有限公司</td>
						<td class="col-xs-6">重庆赛迪热工环保工程技术有限公司</td>
					</tr>
					<tr>
						<td class="col-xs-6">重庆赛迪工程咨询有限公司</td>
						<td class="col-xs-6">北京太富力传动机器有限责任公司</td>
					</tr>
					<tr>
						<td class="col-xs-6">中冶赛迪电气技术有限公司</td>
						<td class="col-xs-6">西安电炉研究所有限公司</td>
					</tr>
					<tr>
						<td class="col-xs-6">重庆赛迪冶炼装备系统集成工程技术研究中心有限公司</td>
						<td class="col-xs-6">中冶赛迪重庆信息技术有限公司</td>
					</tr>
					<tr>
						<td class="col-xs-6">中冶赛迪重庆环境咨询有限公司</td>
						<td class="col-xs-6">中冶赛迪股份建筑设计院</td>
					</tr>
					<tr>
						<td class="col-xs-6">中冶赛迪股份基础设施分公司</td>
						<td class="col-xs-6">中冶科工-赛迪巴西GUSA项目有限责任公司</td>
					</tr>
					<tr>
						<td class="col-xs-6">中冶赛迪英国工程技术有限公司</td>
						<td class="col-xs-6">中冶置业重庆有限责任公司</td>
					</tr>
					<tr>
						<td class="col-xs-6">重庆赛迪施工图审查咨询有限公司</td>
						<td class="col-xs-6">重庆赛迪冶金技术有限公司</td>
					</tr>
					<tr>
						<td class="col-xs-6">重庆赛迪物业管理有限公司</td>
						<td class="col-xs-6">重庆赛迪建设工程有限公司</td>
					</tr>

				</table>
			</div>
		</div>
	</div>
	<div class="space-4"></div>

</body>
</html>
